

body{
  height: 100%;
  width: 100%;
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  justify-content: flex-start;
}

button{
  margin: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
